#board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: 1px solid black;
  }
  
  .square {
    flex: 1 0 33%;
    height: 100px;
    border: 1px solid black;
  }

  